:root
{
  --image-count: 16;
  --image-size: 20rem;
  --loop-speed: 64s;
  --aspect-ratio: 16/10;
  --inverse-aspect-ratio: 10/16;
}

body
{
  font-family:'Courier New', Courier, monospace;
  padding: 0;
  margin: 0;
  overflow-x: hidden;
}

.header
{
  width: 100%;
  margin: 0;
  overflow: hidden;
  padding: 2rem 2rem 1rem 2rem;
  background-color: rgb(109, 116, 217);
  color: white;
}

.container
{
  margin: 0 auto;
  padding: 2rem;
  max-width: 80rem;
  background-color: rgb(214, 217, 255);
  height: 100%;
}

.container a
{
  float: right;
}

.carousel {
  padding: 0;
  margin: 1rem 0rem 0.75rem 0;
  display: grid;
  grid-auto-columns: var(--image-size);
  grid-auto-flow: column;
  overflow-x:hidden;
  overscroll-behavior-x: contain;
  scroll-snap-type: x mandatory;
  scrollbar-width: none;
  scroll-behavior: smooth;
  div {
    scroll-snap-align: start;
    scroll-snap-stop: always;
  }
  img {
    width: var(--image-size);
    aspect-ratio: var(--aspect-ratio);
    object-fit: cover;
  }
  animation-name: move;
  animation-duration: var(--loop-speed);
  animation-iteration-count: infinite;
  animation-direction: right;
  animation-timing-function: linear;
}


@keyframes move {
  0% {
    margin-left: calc(-1 * var(--image-size));
  }
  100% {
    margin-left: calc((-1 * var(--image-size) * var(--image-count)) - var(--image-size));
  }
}